<app-root-nav>
  <app-des-navbar> </app-des-navbar>   
    <div class="row justify-content-center">
        <form [formGroup]="destinationForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Libellé</label>
              <input class="form-control" type="text" formControlName="libelle">
            </div>
            <div class="form-group">
              <label>image</label>
              <input class="form-control" type="text" formControlName="image">
            </div>
            <div class="form-group">
              <label>Categorie </label>
              <select class="custom-select form-control" (change)="updateCategorie($event.target.value)"
              formControlName="categorie">
                <option *ngFor="let item of tabCategorie" value="{{item.libelle}}">{{item.libelle}}
                </option>
              </select>
             
            </div>

              <div class="form-group">
                <label>Latitude</label>
                <input class="form-control" type="number" formControlName="latitude">
              </div>
              <div class="form-group">
                <label>Longitude</label>
                <input class="form-control" type="number" formControlName="longitude">
              </div>
            <div class="form-group">
                <label>Gouv</label>
                <select class="custom-select form-control" (change)="updateGouv($event.target.value)"
                formControlName="gouv">
                  <option *ngFor="let item of tabGouv" value="{{item.gouv}}">{{item.gouv}}
                  </option>
                </select>
               
              </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Valider</button>
            </div>
          </form>
        </div>
   
       
</app-root-nav>

