<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"style="margin-left: 50px;"  [routerLink]="'/create-event'" >Add event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" style="margin-left: 20px;" [routerLink]="'/list-event'">listes event</a>
        </li>
      </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-left: 20px;">
               <input class="form-control mr-sm-2" type="search" placeholder="byGouvernorat" aria-label="Search" #search>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="goToSearch(search.value)">Search</button>
      </form>
    </div>
  </nav>


