<app-root-nav> 
  <app-nav-gouv></app-nav-gouv> 
    <div class="row justify-content-center">
        
              <form [formGroup]="gouvForm" (ngSubmit)="onSubmit()">
                   <div class="form-group">
                         <label>Gouvernorat</label>
                         <input class="form-control" type="text" formControlName="gouv">
                   </div>
                   <div class="form-group">
                         <label>image</label>
                         <input class="form-control" type="text" formControlName="image">
                   </div>
  
                  <div class="form-group">
                          <button class="btn btn-success btn-lg btn-block" type="submit">Valider</button>
                   </div>
               </form>
         


  </div>
 

</app-root-nav>


